.Input {
  input,
  select,
  textarea {
    color: #5b5e5e;
    // font-size: 18px;
    // padding: 10px;
    // background: #f0f0f0;
    // border-radius: 100px;
    // max-height: none;
    // padding: 0 17px;
    // position: relative;
    width: 100%;
    // P{
    //   margin-bottom: 0rem !important;
    // }
  }

  input,
  select,
  textarea:focus {
    border: none;
    outline: none;
  }
  input,
  select,
  textarea:active {
    border: none;
    outline: none;
  }
}
