.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppContainer {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: row;
  background: #ededf2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentArea {
  margin: 20px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  flex-direction: row;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}

.contentWork {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background: #ededf2;
  width: 100%;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
}
html::-webkit-scrollbar:vertical {
  width: 10px;
}
html::-webkit-scrollbar-button:increment,
html::-webkit-scrollbar-button {
  display: none;
}
html::-webkit-scrollbar:horizontal {
  height: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
html::-webkit-scrollbar-track {
  border-radius: 10px;
}

td.details-control {
  background: url("./img/details_open.png") no-repeat center center; /*Plus Image easily find on intent and I have stored this image into my scr/assets folder*/
  cursor: pointer;
  background-size: 20px;
}
tr.shown td.details-control {
  background: url("./img/details_close.png") no-repeat center center; /*Minus Image easily find on intent and I have stored this image into my scr/assets folder*/
  background-size: 20px;
}

.sorting_disabled {
  input {
    visibility: hidden;
  }
  th {
    visibility: hidden;
  }
}

.loaderTable {
  background-image: url("./img/spinner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 99;
}

.dt-buttons {
  position: absolute;
  left: 220px;
  top: 29px;
  button {
    background-color: #192a62;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 8px 10px;
    text-transform: uppercase;
    white-space: normal;
    width: 120px;
  }
  .dt-button-collection {
    position: absolute;
    left: 50px !important;
    button {
      margin: 5px;
    }
  }
}

input[type="search"] {
  border-radius: 5px;
  border: 1px solid #2a418f !important;
  outline: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 8px;
  background: #fff !important;
  content: url("./img/spinner.gif") !important;
}

.table-almacen_filter {
  label {
    content: "" !important;
  }
}

.dataTables_wrapper .dataTables_length select {
  border: 1px solid #004489 !important;
  border-radius: 5px !important;
  padding: 8px !important;
  background-color: transparent !important;
  padding: 4px !important;
  height: 33px;
  outline: none;
  &:active,
  &:focus,
  &:hover {
    border: 1px solid #004489 !important;
    border-radius: 5px !important;
    padding: 8px !important;
    background-color: transparent !important;
    padding: 4px !important;
    outline: none;
  }
}

table {
  .odd {
    background: rgb(255, 255, 255) !important;
  }
  .even {
    background: rgb(255, 255, 255) !important;
  }
  thead {
    border-radius: 30px !important;

    tr {
      background: #004489;
      color: #fff;
    }
  }
  tbody {
    margin-top: 20px;
    color: black;
    tr:hover {
      background: #83baf1 !important;
      color: #fff !important;
    }
  }
  tfoot {
    color: #fff;
    tr {
      background: #004489 !important;
      color: #fff !important;
    }
  }
}

.dataTables_wrapper {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.dataTables_paginate {
  .current {
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  background: #83baf1;
  color: #fff !important;
  border-radius: 5px !important;
  border: none;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #ff5f0f80 !important;
  color: white;
  border-radius: 5px !important;
  border: none !important;
  background-color: white;
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
}
